.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  color: var(--ion-color-medium);

  ion-icon {
    font-size: 80px;
    margin-bottom: 16px;
  }

  p {
    font-size: 18px;
  }
}

ion-card {
  ion-item {
    --padding-start: 0;
    
    ion-icon {
      margin-right: 8px;
      color: var(--ion-color-primary);
    }
  }
}
