.botones-accion {
  margin-bottom: 16px;
  
  ion-button {
    margin: 4px 0;
  }
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  color: var(--ion-color-medium);

  ion-icon {
    font-size: 80px;
    margin-bottom: 16px;
  }

  p {
    font-size: 18px;
  }
}
