.card-header-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

  ion-badge {
    margin-top: 4px;
  }
}

ion-list {
  padding: 0;

  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    
    ion-icon {
      margin-right: 12px;
      color: var(--ion-color-primary);
    }

    h3 {
      font-weight: 600;
      font-size: 0.9rem;
      margin-bottom: 4px;
    }

    p {
      color: var(--ion-color-medium);
    }
  }
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  color: var(--ion-color-medium);

  ion-icon {
    font-size: 80px;
    margin-bottom: 16px;
  }

  p {
    font-size: 18px;
  }
}
